.mat-form-field-wrapper
{
  padding: 18px;
}

.mat-form-field
{
  padding: 18px;
}

.mat-form-field-infix
{
  padding: 18px;
}

mat-raised-button
{
  cursor: pointer;
}

*
{
  font-family: 'IranianSansRegular';
}

