<div class="menu">
  <div flexLayout="row" fxLayoutGap="20px">
    <button mat-button [matMenuTriggerFor]="aboveMenu" [routerLink]="['/insert']" routerLinkActive="router-link-active" *ngIf="authenticated">{{'Add list Number' | translate}}</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button fxFlex="" mat-menu-item>{{'crm' | translate}}</button>
      <button mat-menu-item> {{'Tell' | translate}}</button>
    </mat-menu>




    <button mat-button [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >{{'Dashboard' | translate}}</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
    </mat-menu>


    <button mat-button [routerLink]="['/department']" routerLinkActive="router-link-active" >{{'department' | translate}}</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
    </mat-menu>




    <!-- <button mat-button  [routerLink]="['/login']" routerLinkActive="router-link-active" >{{'login' | translate}}</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
    </mat-menu> -->

    <!-- <button mat-button (click)="logout()">{{'logout' | translate}}</button> -->


    <button mat-button [matMenuTriggerFor]="aboveMenu" >{{'Add list Number' | translate}}</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button fxFlex="" mat-menu-item [routerLink]="['/insert']" routerLinkActive="router-link-active" >{{'crm' | translate}}</button>
      <button mat-menu-item [routerLink]="['/insert']" routerLinkActive="router-link-active" > {{'Tell' | translate}}</button>
    </mat-menu>


  <div fxFlex></div>
  <mat-card-actions>
   <button mat-button  color="accent"><i style="margin-right:15px;"  id="icon" class="material-icons" fxFlex="nogrow" (click)="logout()" matTooltip="خروج" aria-label="Button that displays a tooltip when focused or hovered over">account_box</i></button>
  </mat-card-actions>
  </div>

</div>

<router-outlet></router-outlet>
