.menu
{
  background-image: linear-gradient(to right top, #104fae, #2154b8, #2e59c1, #3a5fcb, #4564d5);
  padding: 15px 20px;

}

.mat-button
{
  color:whitesmoke;

}

h1
{
  color:whitesmoke;
}

.mat-card
{
  margin-top:90px;
}
